<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-5 text-center">
            <h1>¡Bienvenido a nuestra web!</h1>
            <h2>Calcula fácil y eficientemente.</h2>
            <h4>Sigue los siguientes pasos para utilizar la calculadora:</h4>

            <p>
                Selecciona los elementos que desees incluir en el presupuesto.
                Introduce las cantidades y precios correspondientes. La
                calculadora generará automáticamente el presupuesto final.
            </p>

            <p>Pulsa el botón siguiente para empezar:</p>

            <div>
                <button class="btn btn-primary" (click)="goToHome()">
                    Start
                </button>
            </div>
        </div>
    </div>
</div>
