<div class="container abs-center">
    <div class="row">
        <div class="col-12 my-5 text-center">
            <h1>¡Bienvenido a nuestra web!</h1>
            <h2>Calcula tu presupuesto de manera rápida y eficiente.</h2>

            <p>Pulsa aquí para empezar:</p>

            <div>
                <button class="btn" (click)="goToHome()">
                    <i class="fa-solid fa-solid fa-circle-play fa-10x"></i>
                </button>
            </div>
        </div>
    </div>
</div>
