<h1>Listado presupuestos</h1>
<input
    type="text"
    class="form-control"
    id="cercador"
    placeholder="Buscar"
    [(ngModel)]="cercador"
/>
<button
    class="btn btn-dark my-1"
    (click)="ordenarAlfabeticament()"
    [disabled]="ordreAlfabetic"
>
    <i class="fa-solid fa-arrow-up-a-z"></i>
</button>
<button
    class="btn btn-dark my-1 mx-2"
    (click)="ordenarPerData()"
    [disabled]="ordreData"
>
    <i class="fa-solid fa-calendar-days"></i>
</button>
<button
    class="btn btn-dark my-1"
    (click)="reinicialitzarOrdre()"
    [disabled]="!(ordreAlfabetic || ordreData)"
>
    <i class="fa-solid fa-rotate"></i>
</button>

<div class="col-12">
    <p *ngFor="let pressupost of pressupostos | filter : cercador">
        {{
            "Nombre: " +
                pressupost.nom +
                ", Cliente/a: " +
                pressupost.client +
                ", Servicio: " +
                pressupost.servei.join(", ") +
                ", Precio: " +
                pressupost.preu +
                "€"
        }}
    </p>
</div>
